<div class="board" cdkDropListGroup>
  <ng-container *ngFor="let task of tasks">
    <div class="board-list">
      <div class="board-list-header">
        <div class="board-list-header-title uppercase text-textMedium text-13 truncate">{{task.title}}</div>
      </div>
      <div class="board-list-items" cdkDropList [cdkDropListData]="task.taskItem" (cdkDropListDropped)="drop($event)">
        <div class="board-list-items-item" *ngFor="let item of task.taskItem" cdkDrag [cdkDragData]="item">
          {{item.title}}</div>
      </div>
      <div class="board-list-add">
        <div class="board-list-add-btn text-textMedium text-13 truncate"><button type="button"
            class="btn btn-ghost-success" (click)="taskItemModal.show(task)"> <i class="fa fa-plus fa-lg mr-2"></i>Thêm
            thẻ</button></div>
      </div>
    </div>
  </ng-container>

  <button type="button" class="btn btn-ghost-success" (click)="taskModal.show()"> <i
      class="fa fa-plus fa-lg mr-2"></i>Thêm task</button>
</div>

<app-create-or-edit-task-item-modal #taskItemModal (modalSave)="modalSave($event)"></app-create-or-edit-task-item-modal>

<div bsModal #taskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm task</h4>
        <button type="button" class="close" (click)="taskModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <strong>Thêm task item</strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name">Title</label>
                      <input type="text" class="form-control" id="taskTitle" placeholder="Title" [(ngModel)]="taskTitle">
                    </div>
                  </div>
                </div>
                <!--/.row-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="ccnumber">Description</label>
                      <input type="text" class="form-control" id="taskDes" placeholder="Description"  [(ngModel)]="taskDes">
                    </div>
                  </div>
                </div>
                <!--/.row-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="taskModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="createTask()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->