.board {
    display: -webkit-inline-box;
    width: 100%;
    &-list {
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        white-space: normal;
        width: 300px;
        background-color: #f4f5f7;
        margin-right: 10px;
        height: 100%;

        &-header{
            width: 95%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        &-items{
            &-item {
                width: 95%;
                height: 100px;
                background-color: aquamarine;
                margin: auto;
                cursor: pointer;  
                margin-top: 8px;  
                
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                border-radius: 0.125rem;
                --bg-opacity: 1;
                background-color: #fff;
                background-color: rgba(255,255,255,var(--bg-opacity));
                transition-property: all;
                transition-duration: .1s;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                padding: 10px;
                box-shadow: 0 1px 2px 0 rgb(9 30 66 / 25%);
            }
        }

        &-add{
            margin: 10px auto;
            display: flex;
            justify-content: space-between;
            width: 95%;
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .board-list-items-item:last-child {
    border: none;
  }
  
  .board-list-items.cdk-drop-list-dragging .board-list-items-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }





  
  