<div bsModal #taskItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="taskItemModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm task item</h4>
        <button type="button" class="close" (click)="taskItemModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <strong>Thêm task item</strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name">Title</label>
                      <input type="text" class="form-control" id="taskItemTitle" placeholder="Title" [(ngModel)]="taskItemTitle">
                    </div>
                  </div>
                </div>
                <!--/.row-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="ccnumber">Description</label>
                      <input type="text" class="form-control" id="taskItemDes" placeholder="Description"  [(ngModel)]="taskItemDes">
                    </div>
                  </div>
                </div>
                <!--/.row-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="taskItemModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="createTaskItem()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->